  <div class="col s12 m7">
    
    <div class="card horizontal">
      <div class="card-image medium">
        <img src="http://i.imgur.com/fqIoY8v.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I'm a full stack web developer with a diverse background in sociology, photography, and activism. I have a big imagination and a passion for technology. My unique perspective solidified my communication skills as I developed a strong sense of empathy for others. </p>
          <br>
          <p>The foundation of my technical skills were built at General Assembly. I had the priviledge of learning how to program from leading Atlanta developers who shared their love for technology, implementing best practices, and most importantly, learning <em>how</em> to learn.</p>
          <br>
          <p><a href="https://github.com/neysaga">find me on github</a></p>
        </div>
        <div class="card-action">
          <a ui-sref="home">return to home page</a>
        </div>
      </div>
    </div>
  </div>