      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/L0X0wjB.png">
            </div>
            <div class="card-content">
              <p>I made an application that allows users to save their favorite restaurant pop-ups.</p>
            </div>
            <div class="card-action">
              <a href="https://cryptic-wildwood-31658.herokuapp.com/popUps">visit this site</a>
            </div>
          </div>
        </div>
      </div>
           <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/xXVjcZ3.png">
            </div>
            <div class="card-content">
              <p>Users can create a new account with a username and password</p>
            </div>
            <div class="card-action">
              <a href="https://cryptic-wildwood-31658.herokuapp.com/popUps">visit this site</a>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/DG8L3mE.png">
            </div>
            <div class="card-content">
              <p>They can add a new pop-up with details about the cuisine and location</p>
            </div>
            <div class="card-action">
              <a href="https://cryptic-wildwood-31658.herokuapp.com/popUps">visit this site</a>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/ylWVR0E.png">
            </div>
            <div class="card-content">
              <p> users can also edit and delete a pop-up or share it on social media</p>
            </div>
            <div class="card-action">
              <a href="https://cryptic-wildwood-31658.herokuapp.com/popUps">visit this site</a>
            </div>
          </div>
        </div>
      </div>
<button class="waves-effect white btn"><a ui-sref="portfolio">back</a></button>

