      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/zochZ8J.png">
            </div>
            <div class="card-content">
              <p>I built a jeopardy game using html, css, and javascript.</p>
            </div>
            <div class="card-action">
              <a href="http://smuggler-duck-78865.bitballoon.com/">play the game</a>
            </div>
          </div>
        </div>
      </div>
           <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/3CIXAhQ.png">
            </div>
            <div class="card-content">
              <p> Features include categories with corresponding questions, a scoreboard, and an option to restart the game.</p>
            </div>
            <div class="card-action">
              <a href="http://smuggler-duck-78865.bitballoon.com/">play the game</a>
            </div>
          </div>
        </div>
      </div>
<button class="waves-effect white btn"><a ui-sref="portfolio">back</a></button>