      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/dqBmaEo.png">
            </div>
            <div class="card-content">
              <p>This was our first group project. Our team built an application store for web developers. My role primarily was with planning, communication, styling the application, and pair programming to set up our back end routes. </p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">visit this site</a>
            </div>
          </div>
        </div>
      </div>
           <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/Vd35OzL.png">
            </div>
            <div class="card-content">
              <p>Users can create a new account with a username and password</p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">visit this site</a>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/7ETIBZL.png">
            </div>
            <div class="card-content">
              <p>The forms are built with validation to ensure the information is entered correctly</p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">Visit this site</a>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/8FPS3i4.png">
            </div>
            <div class="card-content">
              <p> here is our application store.</p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">Visit this site</a>
            </div>
          </div>
        </div>
      </div>
         <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/EbOeZUR.png">
            </div>
            <div class="card-content">
              <p> users can download the app from this page, or just save it to their favorites.</p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">Visit this site</a>
            </div>
          </div>
        </div>
      </div>
          <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="http://i.imgur.com/B39C8Vh.png">
            </div>
            <div class="card-content">
              <p>users may delete the app from their profile if they no longer need it.</p>
            </div>
            <div class="card-action">
              <a href="https://dry-sands-98107.herokuapp.com/#!/">Visit this site</a>
            </div>
          </div>
        </div>
      </div>    
<button class="waves-effect white btn"><a ui-sref="portfolio">back</a></button>